@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400&family=Be+Vietnam+Pro:wght@400;500;700&family=Jost:wght@200;300;500&family=Montserrat:wght@300;400;500;600&family=Poppins:wght@200;300;400;500&family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
header {
  max-width: 1200px;
  background-color: #0297d4;
  margin-inline: auto;
  padding: 5px 20px;
  color: #fff;
  font-weight: 600;
}
main {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  text-align: center;
}

img {
  width: 100%;
}
.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 3rem;
  text-align: left;
  color: #505252;
}
#generate-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.inputurl {
  border: 2px solid #5052525d;
  padding: 10px;
  border-radius: 0.2rem;
}
.selected {
  border: 2px solid #5052525d;
  padding: 10px;
  border-radius: 0.2rem;
}
.submit {
  padding: 10px;
  border-radius: 0.2rem;
  font-size: 1rem;
  border: 2px solid #5052525d;
  background-color: #0297d4;
  color: #fff;
}

/* spinner */
.loader {
  margin: 10px auto;
  border: 1rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 1rem solid #3498db;
  width: 3rem;
  height: 3rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#qrcode {
  margin: auto;
  max-width: 1200px;
  width: max-content;
}

/* //todo */
.download-btn {
  display: block;
  width: 20%;
  text-align: center;
  background-color: #d42c02;
  margin: 20px auto;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* responsive design */
@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }
}

